body {
  background-color: #575353;
  font-family: Helvetica, Arial, sans-serif;
}

a {
 text-decoration: none;
}

#container {
  background-color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-image: url(../img/5-dots.png);
  color: white;
  text-align: center;
  padding: 10px;
}

h1, h2, h3 {
 margin: 0; 
}

#content {
 padding: 10px; 
}

#nav {
 width: 125px; 
  float: left;
}

#nav ul {
 list-style-type: none;
  padding: 0;
}

.selected {
  font-weight: bold;
}

#main {
 width: 775px; 
  float: right
}

#footer {
 clear: both; 
 text-align: right;
 padding: 10px;
 background-color: #999;
  color: white;
}
