body {
  background-image: linear-gradient(#e0dcdc, black);
}

a {
 text-decoration: none;
}

.selected {
 font-weight: bold; 
}

#container {
 width: 1000px;
 background-color: linear-gradient(#e3dada, #d1c5c5);
  margin-left: auto;
  margin-right: auto;
}

#header {
    background-image: linear-gradient(#e0dcdc, black);
}

#nav {
   background-color: black;
}

#home {
 background-color: none;
  float: left;
    padding: 50px;
}

#info {
 background-color: none;
 float: left; 
    padding: 50px;
}

#server {
 background-color: none;
 float: left;
    padding: 50px;
}

#login {
 background-color: none;
 float: left;
  padding: 50px;
}
