body {
  background-image: linear-gradient(#e0dcdc, black);
}

a {
 text-decoration: none;
}

.selected {
 font-weight: bold; 
}

#nav {
   background-image: linear-gradient(#e0dcdc, black); 
}

#home {
 background-color: none;
  float: left;
    padding: 50px;
}

#info {
 background-color: none;
 float: left; 
    padding: 50px;
}

#server {
 background-color: none;
 float: left;
    padding: 50px;
}

#login {
 background-color: none;
 float: left;
  padding: 50px;
}
