body {
    background-image: linear-gradient(#636e72, #b2bec3);
}

.logo {
    width: 7.5%;
    position: relative;
}

.logo:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

header {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.75);
}

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #555;
  color: white;
  border: 2px solid #555555;
}
.button:hover {
  background-color: white;
  color: black;
}

.signuperror {
  color: red;
}

.signupsuccessful {
  color: green
}

input[type=text] {
  padding: 10px 10px;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
}
